@use  "_variables" as *;

@mixin menu-media{
  display:none;
  @media (width < 500px){
    display: flex;
    position: fixed;
    bottom: 0;
    background-color: var(--bg);
    justify-content: center;
    align-items: center;
    gap: 12vw;
    width: 100%;
    height: 61px;
    border-top: 1px solid var(--border);
    .menu-media__btn{
      @include textMediaMenu;
      @include flexCol;
      align-items: center;
      gap: 5px;
      .sidebar__btn__img{
        color: var(--menuMedia);
        opacity: 0.6;
      }
    }
  }
}
@mixin channel-wrapper{
  display: flex;
  gap: 40px;
  max-width: 3000px;
  transition: transform 0.3s ease;
  @media (width < 2300px){
    width: 99vw;
  }
  @media (width < 620px){
    flex-direction: column;
    width: clamp(320px, 30vw, 3000px);
    gap: 90px;
  }
  .video-card__wrapper{
    width: 250px;
    @media (width < 620px){
      width: 100%;
      height: 170px;
    }
    .video{
      height: 150px;
      width: 250px;
      border-radius: 25px;
      object-fit: cover;
      border: 2px solid var(--border);
      @media (width < 620px){
        width: 100%;
        height: 100%;
      }
    }
    .video-card__name{
      @include textMainBold;
      padding-top:10px;
    }
    .video-card__details{
      @include detailsBox;
      justify-content: space-between;
    }
  }
}
@mixin textBoldH{
    color: var(--grey);
    font-family: Mulish;
    font-size: 26px;
    font-weight: 700;
}
@mixin textBoldT{
    color: var(--grey);
    font-family: Mulish;
    font-size: 18px;
    font-weight: 700;
}
@mixin textBold{
    color: var(--icon);
    font-family: Mulish;
    font-size: 18px;
    font-weight: 700;
}
@mixin textCateg{
    color: var(--icon);;
    font-family: Mulish;
    font-size: 18px;
    font-weight: 400;
}
@mixin textMediaMenu{
    color: var(--menuMedia);
    font-family: Mulish;
    font-size: 10px; 
}
@mixin textCategHover{
    color: red;
    font-family: Mulish;
    font-size: 18px;
    font-weight: 700;
}
@mixin textMain{
    color: var(--dark_grey);
    font-family: Mulish;
    font-size: 16px;   
}
@mixin textMainSub{
    color: white;
    font-family: Mulish;
    font-size: 16px;   
}
@mixin textMainBold{
    color: var(--grey);
    font-family: Mulish;
    font-size: 16px; 
    font-weight: 700;
}
@mixin textSubMain2{
    color: var(--light_grey);
    font-family: Mulish;
    font-size: 16px;  
}
@mixin textDesc{
    color: var(--icon);
    font-family: Mulish;
    font-size: 16px; 
    opacity: 0.5;
}
@mixin textSubMain{
   color: var(--light_grey);
    font-family: Mulish;
    font-size: 13px;  
}
@mixin textSmall{
    color:white;
    font-family: Mulish;
    font-size: 12px; 
    font-weight: 700;
}
@mixin alignCenter{
    display:flex;
    align-items: center;
}
@mixin flexCol{
    display:flex;
    flex-direction: column;
}
@mixin detailsBox{
    display: flex; 
    @include textSubMain; 
    padding-top:4px;
}
@mixin clearButton{
    border: none;
    cursor: pointer;
    background-color: transparent;
}
@mixin styleReset{
    margin: 0;
    padding: 0;
}
