:root {
  --grey: rgba(25, 32, 44, 1);
  --dark_grey: rgba(48, 56, 76, 0.5);
  --light_grey: rgba(194, 194, 194, 1);
  --light_grey_bg: rgba(235, 235, 235, 0.5);
  --light_white_bg: rgb(233, 233, 233);
  --border: rgba(216, 216, 216, 0.5);
  --menuMedia: rgba(137, 137, 137, 1);
  --bg: white;
  --bg_blurred: rgba(255, 255, 255, 0.5);
  --icon: black;
  --menuBurg: white;
  --menuBurgBorder: rgb(28, 28, 28);
}
.darkMode {
  --grey: rgba(225, 225, 225, 1);
  --dark_grey: rgba(225, 225, 225, 1);
  --light_grey: rgba(194, 194, 194, 1);
  --light_grey_bg: rgba(235, 235, 235, 0.5);
  --light_white_bg: rgb(233, 233, 233);
  --border: rgba(216, 216, 216, 0.502);
  --menuMedia: rgba(225, 225, 225, 1);
  --bg: rgb(28, 28, 28);
  --bg_blurred: rgba(28, 28, 28, 0.5);
  --icon: rgb(255, 255, 255);
  --menuBurg: rgb(28, 28, 28);
  --menuBurgBorder: rgb(255, 255, 255);
}
@media (prefers-color-scheme: dark) {
  :root:not(.darkMode) {
    --grey: rgba(25, 32, 44, 1);
    --dark_grey: rgba(48, 56, 76, 0.5);
    --light_grey: rgba(194, 194, 194, 1);
    --light_grey_bg: rgba(235, 235, 235, 0.5);
    --light_white_bg: rgb(233, 233, 233);
    --border: rgba(216, 216, 216, 0.5);
    --menuMedia: rgba(137, 137, 137, 1);
    --bg: white;
    --bg_blurred: rgba(255, 255, 255, 0.5);
    --icon: black;
    --menuBurg: white;
    --menuBurgBorder: rgb(28, 28, 28);
  }
}
