@use '_mixins' as *;
@use '_variables' as *;

* {
  @include styleReset;
}
button {
  @include clearButton;
}
a {
  text-decoration: none;
}
body {
  background-color: var(--bg);
}
.header {
  display: flex;
  gap: 5rem;
  justify-content: space-between;
  padding: 1.25rem 0 1.875rem 0;
  position: sticky;
  top: 0;
  max-width: 2560px;
  width: 100%;
  background-color: var(--bg);
  @media (max-width: 470px) {
    gap: 3rem;
  }
  .header__nav {
    display: flex;
    gap: 1.75rem;
    padding-left: 2rem;
    align-items: center;
    @media (max-width: 500px) {
      padding-left: 1.5rem;
    }
    .header__burger {
      color: var(--icon);
      @media (max-width: 500px) {
        display: none;
      }
    }
    .logo {
      display: flex;
      gap: 0.3125rem;
      @media (max-width: 500px) {
        display: none;
      }
      .logo__svg {
        color: var(--icon);
      }
    }
    .logo-media {
      display: none;
      @media (max-width: 500px) {
        @include alignCenter;
        gap: 0.6rem;
        .logo-media__img {
          width: 37px;
          height: 25px;
        }
        .logo-media__user {
          @include textMainBold;
          width: 8rem;
        }
      }
    }
  }
}
.header__center {
  flex: 0.7 1 0;
  .header__search {
    @include alignCenter;
    justify-content: space-between;
    width: 100%;
    height: 2.75rem;
    background-color: var(--light_grey_bg);
    border-radius: 1.375rem;
    padding: 0 1.25rem 0 1.25rem;
    @media (max-width: 556px) {
      background-color: transparent;
    }
    .search__input {
      background-color: transparent;
      border: none;
      width: 95%;
      outline: none;
      @include textMain;
      @media (max-width: 556px) {
        display: none;
      }
    }
    .search__input::placeholder {
      @include textMain;
    }
    .search__btn {
      color: var(--icon);
      cursor: pointer;
      flex-shrink: 0;
    }
  }
}
.header__end {
  @include alignCenter;
  gap: 1.875rem;
  padding-right: 2rem;
  .header__icons {
    @include alignCenter;
    justify-content: space-between;
    width: 11rem;
    @media (max-width: 870px) {
      display: none;
    }
    .cam__icon,
    .dots__icon {
      color: var(--icon);
    }
    .notif__icon {
      @include alignCenter;
      color: var(--icon);
      .notif__icon--count {
        @include alignCenter;
        @include textSmall;
        justify-content: center;
        width: 18px;
        height: 18px;
        background-color: red;
        border: 1px solid white;
        border-radius: 1rem;
        transform: translate(-1rem, -0.6rem);
      }
    }
  }
  .user__icon {
    width: 40px;
    height: 40px;
    @media (max-width: 500px) {
      display: none;
    }
  }
  .dots__icon--media {
    display: none;
    @media (max-width: 500px) {
      display: flex;
      color: var(--icon);
    }
  }
}
.main-wrapper {
  display: flex;
  gap: 4rem;
  //overflow: hidden;
  .sidebar__active {
    z-index: 10;
    position: fixed;
    height: calc(100vh - 4.5rem);
    overflow: scroll;
    @include side-bar();
    display: none;
    top: 4.5rem;
    width: 12rem;
    box-sizing: border-box;
    &.open {
      display: flex;
      animation-name: sidebarActive;
      animation-duration: 0.5s;
      animation-fill-mode: forwards;
    }
    &.closed {
      display: flex;
      animation-name: sidebarClosed;
      animation-duration: 0.5s;
      animation-fill-mode: forwards;
    }
    .sidebar__categ {
      @include flexCol;
      gap: 2rem;
      .sidebar__btn {
        @include alignCenter;
        gap: 1rem;
        .sidebar__btn__text {
          @include textMain;
        }
      }
    }
    .sidebar__subs {
      @include flexCol;
      gap: 1.6rem;
      padding: 0 1rem 0 1rem;
      .sidebar__subs__head {
        @include textBold;
      }
      .sidebar__subs__wrapper {
        .sidebar__btn__profile {
          @include alignCenter;
          gap: 1rem;
          padding: 0.9rem 0 0.9rem 0;
          &:hover {
            background-color: var(--light_grey_bg);
            border-radius: 5.5px;
          }
          .sidebar__profile__name {
            @include textMain;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
          }
        }
      }
    }
    .sidebar__sett__wrapper {
      @include theme-toggler();
    }
  }
  .sidebar {
    @include flexCol;
    @include side-bar();
    margin-left: 4rem;
    @media (max-width: 1600px) {
      gap: 1rem;
    }
    @media (max-width: 620px) {
      display: none;
    }
    .sidebar__sett__wrapper {
      @include theme-toggler();
    }
  }
  .single-channel {
    @include flexCol;
    gap: 1.875rem;
    margin-top: 1rem;
    overflow: hidden;
    max-width: 2560px;
    width: 100%;
    .single-channel__banner__wrapper {
      max-width: 2560px;
      width: 97%;
      @media (max-width: 800px) {
        width: 100%;
      }
      .single-channel__banner {
        display: flex;
        width: 100%;
        border-radius: 20px;
        object-fit: cover;
        @media (max-width: 800px) {
          height: 130px;
          border-radius: 0;
        }
      }
    }
    .single-channel__descr__wrapper {
      max-width: 2560px;
      width: 97%;
      .single-channel__descr {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 1.25rem;
        width: 100%;
        @media (max-width: 850px) {
          justify-content: space-evenly;
        }
        @media (max-width: 620px) {
          flex-direction: column;
          gap: 2rem;
          align-items: flex-start;
          margin-left: 1rem;
        }
        @media (max-width: 500px) {
          transform: translateY(-65px);
        }
        .single-channel__descr__start {
          display: flex;
          align-items: center;
          gap: 0.875rem;
          @media (max-width: 500px) {
            flex-direction: column;
            gap: 0.7rem;
            align-items: start;
          }
          .single-channel___text__wrapper {
            .single-channel___name {
              @include textBoldH;
            }
            .single-channel___subs {
              @include textSubMain;
            }
          }
          .single_channel_descr_start_avatar {
            @media (max-width: 500px) {
              width: 70px;
              height: 70px;
            }
          }
        }
        .single-channel__descr__end {
          display: flex;
          gap: 1.25rem;
          .single-channel__subscr__btn {
            width: 9rem;
            height: 2.5rem;
            background-color: red;
            border-radius: 20px;
            @include textMainSub;
            @media (max-width: 320px) {
              width: 120px;
              height: 34px;
              font-size: 12px;
            }
          }
          .single-channel__notif {
            color: var(--icon);
            @media (max-width: 725px) {
              display: none;
            }
          }
        }
      }
    }
    .single-channel__wrapper {
      display: flex;
      width: 85%;
      justify-content: space-between;
      @media (max-width: 850px) {
        width: 100%;
        justify-content: center;
      }
      .single-channel__menu {
        display: flex;
        flex-direction: column;
        gap: 3.375rem;
        .single-channel__menu__start {
          display: flex;
          gap: 4.375rem;
          @media (max-width: 440px) {
            gap: 13%;
          }
          .single-channel__menu__type {
            @include textCateg;
          }
          .single-channel__menu__type:hover {
            @include textCategHover;
            text-decoration: underline;
            @media (max-width: 320px) {
              font-size: 0.875rem;
            }
          }
          #channels,
          #discussion,
          #about,
          #loope {
            @media (max-width: 1410px) {
              display: none;
            }
          }
          #chevron {
            display: none;
            @media (max-width: 1410px) {
              display: flex;
              align-items: center;
            }
          }
        }
        .single-channel__menu__end {
          display: flex;
          gap: 2rem;
          margin-bottom: 2rem;
          align-items: center;
          flex: 1 1 auto;
          @media (max-width: 620px) {
            display: none;
          }
          @media (max-width: 1410px) {
            flex-direction: column;
            align-items: flex-start;
            margin-bottom: 0.8rem;
          }
          .single-channel__menu__video__wrapper {
            @include flexCol;
            justify-content: center;
            width: 34rem;
            height: 12.25rem;
            .single-channel__menu__video__title {
              margin-bottom: 0.8rem;
              @include textBoldH;
            }
            .single-channel__menu__video__desc {
              margin-bottom: 1.875rem;
              @include textDesc;
            }
            .single-channel__menu__video__num {
              @include textSubMain2;
            }
          }
        }
      }
      .single-channel__recom {
        display: flex;
        @media (max-width: 1980px) {
          display: none;
        }
        .single-channel__recom_account {
          @include flexCol;
          gap: 1.875rem;
          .single-channel__recom_head {
            @include textSubMain2;
          }
          .single-channel__recom_account__btn {
            @include alignCenter;
            gap: 1.25rem;
            .single-channel__recom_account__name {
              @include textBoldT;
            }
          }
        }
      }
    }
    .channel-review {
      overflow: hidden;
      display: flex;
      flex-direction: column;
      gap: 1.875rem;
      width: 100%;
      max-width: 2000px;
      @media (max-width: 500px) {
        overflow: visible;
        padding-bottom: 9rem;
      }
      @media (max-width: 850px) {
        align-items: center;
      }
      .channel-review__head {
        @include alignCenter;
        width: calc(85% - 13%);
        justify-content: space-between;
        @media (max-width: 620px) {
          display: none;
        }
        .channel-review__head__title {
          @include textBoldH;
        }
      }
      .channel-review__wrapper {
        @include channel-wrapper();
      }
    }
    .menu-media {
      @include menu-media();
    }
  }
}
.sidebar__main,
.sidebar__categ,
.sidebar__sett {
  @include flexCol;
  gap: 1.875rem;
  .sidebar__btn {
    @include alignCenter;
    gap: 0.875rem;
    .sidebar__btn__text {
      @include textMain;
    }
  }
}
.sidebar__categ {
  @media (max-width: 1600px) {
    display: none;
  }
}
.sidebar__btn,
.sidebar__sett {
  color: var(--icon);
  @media (max-width: 1600px) {
    flex-direction: column;
    gap: 0.3125rem;
  }
}
.sidebar__sett {
  margin-top: 1.25rem;
}
.slider {
  @media (max-width: 620px) {
    display: none;
  }
}
.slider__arrow {
  @include slider-arrow();
}

.search-results {
  @include search-results();
}
.vids-result {
  @include vids-result();
}
.result--notfound {
  @include textMainBold();
}

@include slider-animation();

.wrapper__dimmed {
  @include dimmed();
}
